* {
    margin: 0;
    padding: 0;
}

#header {
    border-style:inset;
    border-color: rgb(8, 138, 219);
    border-width: 20px;
}

#agregarpersonaje{
    border-radius: 20px;
}

#borde-formulario{
    border-style: solid;
    border-color: blue;
}